@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../css/parciales/componentes";
@import "../css/parciales/hoteles";
@import "../css/parciales/variables";

$ancho: 150px;
$alto: 20px;
$anchoInputi: 80%;
$altoInput: 20px;

ul li {
  list-style: none;
}

label {
  width: $ancho;
  height: $alto;
  display: inline-block;
  margin: 10px auto;
}

input [type="text"] {
  width: $anchoInputi;
  height: $altoInput;
  border: none;
  background: none;
  margin: 20px auto;
}
